<div class="container text-center">
  <p class="fw-bold fs-3">Formulario de ejemplo</p>
</div>

<form class="container text-center w-25 mt-4">
  <div class="mb-3 col mt-4">
    <label for="name" class="form-label">Nombre</label>
    <input type="text" class="form-control" id="name" />
  </div>

  <div class="mb-3 col mt-4">
    <label for="lastName" class="form-label">Apellido</label>
    <input type="text" class="form-control" id="lastName" />
  </div>

  <div class="mb-3 col mt-4">
    <label for="email" class="form-label">Correo Electronico</label>
    <input type="email" class="form-control" id="email" />
  </div>

  <div class="mb-3 col mt-4">
    <label for="password" class="form-label">Contraseña</label>
    <input type="password" class="form-control" id="password" />
  </div>

  <button type="submit" class="btn btn-primary">Enviar Formulario</button>
</form>
