.registerImgContainer {
  width: 40%;
  height: auto;
  img {
    width: 100%;
    height: auto;
  }
}
.registerFormContainer {
  width: 55%;
  height: auto;
  img {
    width: 100%;
    height: auto;
  }
}
.form-control-added {
  width: 75%;
}
.form-control-1 {
  width: 80%;
}
