<div class="d-flex align-items-center">
  <div class="registerImgContainer">
    <img src="../../../assets/images/registerimg.webp" />
  </div>

  <div class="registerFormContainer">
    <div class="container text-center">
      <p class="fw-bold fs-3">Formulario de registro</p>
    </div>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto,
      reiciendis esse atque eos voluptates autem facere soluta neque beatae
      recusandae odio distinctio ipsum itaque voluptatum! Harum quas corporis ab
      expedita numquam, architecto earum rerum? Nostrum omnis dolor quam
      doloremque, quae quisquam deleniti eum totam necessitatibus consequuntur
      animi praesentium quaerat dignissimos, quod dolores natus architecto eaque
      blanditiis, voluptatem commodi! Quasi cumque assumenda nihil doloremque
      alias exercitationem autem tenetur, laborum suscipit totam! Expedita
      beatae ipsum laborum cupiditate possimus iusto vitae dicta nam itaque
      dolores repellendus, nihil deleniti aut consequatur quas, qui eaque?
      Asperiores perferendis maiores repudiandae facilis molestiae eum accusamus
      quo
    </p>

    <form [formGroup]="registerForm" class="container text-center mt-4">
      <div class="d-flex form-control-added">
        <div class="col d-flex flex-column justify-content-start align-items-start">
          <label for="name" class="form-label">Nombre</label>
          <input [formControl]="firstNameControl" type="text" class="form-control form-control-1" id="name" />
          <app-errors [control]="firstNameControl"></app-errors>
        </div>

        <div class="col d-flex flex-column justify-content-start align-items-start">
          <label for="lastname" class="form-label">Apellido</label>
          <input [formControl]="lastNameControl" type="text" class="form-control" id="lastname" />
          <app-errors [control]="lastNameControl"></app-errors>
        </div>
      </div>

      <div class="d-flex form-control-added">
        <div class="col d-flex flex-column justify-content-start align-items-start">
          <label for="email" class="form-label">Correo Electronico</label>
          <input [formControl]="emailControl" type="email" class="form-control" id="email" />
          <app-errors [control]="emailControl"></app-errors>
        </div>
      </div>

      <div class="d-flex form-control-added">
        <div class="col d-flex flex-column justify-content-start align-items-start">
          <label for="password" class="form-label">Contraseña</label>
          <input [formControl]="passwordControl" type="password" class="form-control" id="password" />
          <app-errors [control]="passwordControl"></app-errors>
        </div>
      </div>

      <div class="d-flex form-control-added">
        <div class="col d-flex flex-column justify-content-start align-items-start">
          <label for="password" class="form-label">Repetir contraseña</label>
          <input [formControl]="repeatPasswordControl" type="password" class="form-control" id="repeatPassword" />
          <app-errors [control]="repeatPasswordControl"></app-errors>
          <small class="text-danger" *ngIf="registerForm.errors">Su contraseña no
            coincide</small>
        </div>
      </div>

      <button [disabled]="registerForm.invalid" type="submit" class="btn btn-primary">Crear Cuenta</button>
    </form>
  </div>
</div>